.card{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #414141;
  padding: 1rem 2rem;
}

.card-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}